# In-class Pandas Lab (Credit Data)

In [1]:
import numpy as np
import pandas as pd

In [2]:
credit_df = pd.read_csv("credit.csv")

In [3]:
credit_df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [ ]:
credit_df.columns

## LAB EXERCISES

1.)  From credit_df, select only the features that are integers (non-string columns) and place them into the variable **int_features_df**

2.)  From credit_df, select the examples/rows where 'age' is greater than 30 and place them into the variable **over_30_df**

3.)  Get the shape (rows, features) of **over_30_df**

4.)  How many individuals in **credit_df** are over 30?

5.)  From credit_df, select only the 'job' and 'default' columns and place them into the variable **job_target_df**

6.)  In **job_target_df**, transform the 'default' categorical variable into integers.

7.)  How many 'management' workers are there?

8.)  What's the mean age of the 'unskilled' workers? 

9.)  What percentage of the 'skilled' defaulted?

In [ ]:
skilled_defaulted = credit_df.loc[(credit_df["job"]== "skilled") & (credit_df["default"]== "yes"), "job"].count()
skilled = len(credit_df.loc[credit_df["job"]== "skilled", "job"])
percent = skilled_defaulted/skilled*100
print("The percentage of skilled workers who defaulted is {:.2f}%".format(percent))